{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="POST" action="{{ url_for('lock') }}">
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token' %}
            <p>
                {{ field.label }} <br> {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}
        <p>
            <input type="submit" value="Вход">
        </p>
    </form>
{% endblock %}