<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
    <div>
    <form method=post>
    <input type="number" name='number1'>
    <input type="number" name='number2'>
    <select id="operation" name="operation">
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
    <input type="submit" value="Вычислить">
</form>
</div>
</body>
</html>