<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Форма заказа</title>
  <!-- Подключаем Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .main_text {
      font-size: 16pt;
      font-weight: bold;
      font-style: italic;
  </style>


</head>

<body style="background-image: url('/static/fon.jpg'); background-size: cover;">



  {% extends 'index.html' %}
  {% block head%}


  <div class="main_text">
    <p class="text-center">На этой странице Вы можете подать заявку на любой вид работ, либо оставить обращение в наш
      адрес</p>
  </div>
  <p class="text-center"> * Для этого из выпадающего списка выберите интересующий обьект, введите контактные данные, в
    поле сообщение в свободной ворме опишите, необходимые Вам работы </p>

  <div class="container mt-5">
    <form class="mt-4" method="post" action="/order">

      {% with messages = get_flashed_messages(with_categories=true)
      %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="mb-4">
        <label for="selectedOption" class="form-label">Выберите интересующий элемент из списка</label>
        <select class="form-select" id="selectedOption" name="selectedOption" required>
          {% for option in options %}
          <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Фамилия Имя</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email адрес</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Номер телефона</label>
        <input type="tel" class="form-control" id="phone" name="phone" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Сообщение</label>
        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  {% endblock %}

</body>

</html>