<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp</title>
    <link rel="stylesheet" href="style.css"

</head>
<body>




  <div class="header">
    <div class="container">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, architecto.</div>

  </div>

  <div class="content">
  <div class="container item-flex">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  </div>
  
  <div class="footer">
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, praesentium?
    </div>
  
  </div>
  

</div>

</body>
</html>